<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Habits App</title>
    <script src="https://unpkg.com/vue"></script>

    <link rel="stylesheet" href="static/styles.css?v=1" />

    <meta name="viewport" content="width=device-width, user-scalable=no" />
  </head>

  <body>
    <div id="app" class="calendar">
      <div class="calendar__row">
        <span v-for="day in days" class="calendar__row__cell">{{ day }}</span>
      </div>

      <div v-for="(habit,index) in habits" class="habit">
        <span class="habit__title" v-on:click="delHabit(index)">{{ habit }}</span>

        <div class="calendar__row">
          <span v-for="(day,day_id) in days" :class="setCellClass(index,day_id)" @click="setHabitVal(index,day_id)" v-bind:data-habit="index" v-bind:data-day="day_id">・</span>
        </div>
      </div>

      <div class="newhabit">
        <input type="text" v-model="newHabit" @keydown.enter="addHabit(newHabit)" class="newhabit__input" placeholder="Добавить привычку" />
        <button @click="addHabit()" class="newhabit__submit">Добавить</button>

        <div class="newhabit__bottom">
          <span @click="clearLocalStorageKey('habits_val')" class="newhabit__bottom_link">Очистить оценки?</span> ·
          <span @click="clearLocalStorageKey('habits')" class="newhabit__bottom_link">Удалить все привычки?</span>
          <p></p>
          <div><a href="/feedback.html">Обратная связь</a></div>
        </div>
      </div>
    </div>

    <script src="static/scripts.js?v=1"></script>
  </body>
</html>
