<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Habits App</title>
    <script src="https://unpkg.com/vue"></script>

    <link rel="stylesheet" href="static/styles.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="manifest" href="manifest.json">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153633408-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-153633408-1");
    </script>
  </head>

  <body>
    <div id="app" class="calendar">
      <div v-if="Object.keys(habits).length === 0">
        <h3>Формируйте и прививайте у себя правильные привычки. Составтье список положительных и отрицательных привычек, чтобы контролировать их.</h3>

        <ul>
          <li>Уделяйте только 1 минуту в день, чтобы определять и отслеживать изменения в цветовой схеме!</li>
          <li>Не расстраивайтесь если не получается справляться сразу со всеми привычками!</li>
          <li>Сравнивайте себя неделя к неделе и почувствуйте изменения!</li>
        </ul>

        <hr />

        <div class="calendar__row"><span v-for="day in days" class="calendar__row__cell">{{ day }}</span></div>
        <div class="habit">
          <span class="habit__title">Просыпаться в 6:30</span>
          <div class="calendar__row">
            <span v-for="d in 7" :class="getHabitsVal_demo(1,d)"></span>
          </div>
        </div>

        <hr />

        <p>
          <span class="habit-yes">[Зеленый]</span> - Справились. <span class="habit-no">[Красный]</span> - Не справились. <span class="habit-skip" style="color: gray">[Серый]</span> - Пропустить (решили что выходных этот
          режим не касается).
        </p>
        <p>По мере того, как будете следить за привычками, с легкостью сможете определять положительные или отрицательные тенденции в своем образе жизни.</p>
        <p>Примите меры, чтобы через маленькие изменения «быть лучшей версией себя»!</p>
      </div>
      <div v-else class="calendar__row">
        <span v-for="day in days" class="calendar__row__cell">{{ day }}</span>
      </div>

      <div v-for="(habit,index) in habits" class="habit">
        <span class="habit__title" v-on:click="delHabit(index)">{{ habit }}</span>
        <div class="calendar__row">
          <span v-for="(day,day_id) in days" :class="getHabitsVal(index,day_id)" @click="setHabitVal(index,day_id)" v-bind:data-habit="index" v-bind:data-day="day_id"></span>
        </div>
      </div>

      <div class="newhabit">
        <input type="text" v-model="newHabit" @keydown.enter="addHabit(newHabit)" class="newhabit__input" placeholder="Описание привычки" />
        <button @click="addHabit()" class="newhabit__submit">Добавить</button>
      </div>
      <div class="footer">
        <span @click="delHabitsValAll()" class="footer_link">Очистить оценки</span> · <span @click="delHabitsAll()" class="footer_link">Удалить все привычки</span> ·
        <a href="feedback.html" class="footer_link">Обратная связь</a>
      </div>
    </div>

    <script src="static/scripts.js"></script>
  </body>
</html>
