<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Habits App</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
  
  <link rel="stylesheet" href="static/normalize.css">
  <link rel="stylesheet" href="static/main.css">
  <link rel="stylesheet" href="static/styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="#ff0000">
</head>

<body>

<div id="app">

    <div class="calendar">

        <div class="calendar__row grid7">
            <span v-for="day in days" class="calendar__row__cell">{{ day }}</span>
        </div>

        <div v-for="(habit,index) in habits" class="habit">
            <div>
                <span class="habit__title">{{ habit }}</span>
                <span v-on:click="remLocalStorage(index)" class="habit__rem">×</span>     
            </div>
            <div class="calendar__row grid7">
                <span v-for="(day,day_id) in days" :class="setCellClass(index,day_id)"
                @click="clickHabit(index,day_id)" v-bind:data-habit="index" v-bind:data-day="day_id">・</span>
            </div>
            <div class="habit__controls" v-bind:data-habit="index">
                <span class="habit__controls__title">Вы справились с этой привычкой?</span>
                <div class="grid3">
                    <span class="habit__controls__button-yes" @click="setHabitVal(arr_x,arr_y,'yes')">Да</span>
                    <span class="habit__controls__button-no" @click="setHabitVal(arr_x,arr_y,'no')">Нет</span>
                    <span class="habit__controls__button-skip" @click="setHabitVal(arr_x,arr_y,'skip')">Пропустить</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="newhabit">
            <p class="newhabit__title">Вы хотите <u>тренировать новую</u> или <u>избавиться от старой вредной</u> привычки?</p>
            <input type="text" v-model="newHabit" @keydown.enter="addToLocalStorage(newHabit)" class="newhabit__input">
            <button @click="addToLocalStorage(newHabit)" class="newhabit__submit" type="submit">Добавить</button>
            <p class="newhabit__title" @click="clearLocalStorage()"><a href="javascrip:void();">Стереть все привычки?</a></p>
        </div>

    </div>
</div>

<script src="static/scripts.js"></script>

</body>
</html>