@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("normalize.css");

body {
  padding: 1em;
  font-family: Roboto;
  line-height: 150%;
}
.calendar {
  font-family: Roboto;
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}
.calendar__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: silver;
}
.calendar__row__cell {
  text-align: center;
  cursor: pointer;
}
.calendar__row__cell:hover {
  box-shadow: inset 0px 0px 0px 1px #dbdbdb;
  opacity: 0.75;
}

.habit {
  margin-bottom: 1em;
}
.habit .calendar__row {
  border: 1px solid #f1f1f1;
  border-radius: 0.2em;
}

.habit .calendar__row__cell {
  line-height: 200%;
}
.habit .calendar__row__cell:last-child {
  border-right: 0;
}

.habit__title {
  line-height: 200%;
  margin-left: 0.5em;
  margin: 0;
  line-height: 200%;
  user-select: none;
}

.habit-yes {
  background: #66bb6a;
  color: #fff;
}
.habit-no {
  background: #ef5350;
  color: #fff;
}
.habit-skip {
  background: #f1f1f1;
}

.newhabit__bottom {
  margin-top: 1em;
  text-align: center;
}
.newhabit__bottom_link {
  color: silver;
  cursor: pointer;
}

.newhabit__input,
.newhabit__submit {
  line-height: 200%;
  padding: 0.2em;
}
.newhabit__input {
  width: 200px;
}
