@import url("https://fonts.googleapis.com/css?family=Roboto:300");

body {
  font-family: Roboto;
  font-size: 1em;
}

.grid7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.calendar {
  margin: 0 auto;
  max-width: 608px;
  padding: 1em;
}
.calendar__row {
  color: silver;
}
.calendar__row__cell {
  text-align: center;
}

.habit {
  margin-bottom: 1em;
}
.habit .calendar__row {
  border: 1px solid #f1f1f1;
  border-radius: 0.2em;
}

.habit .calendar__row__cell {
  border-right: 1px solid #f1f1f1;
  text-align: center;
  line-height: 200%;
}
.habit .calendar__row__cell:last-child {
  border-right: 0;
}

.habit__title {
  line-height: 200%;
  margin-left: 0.5em;
  margin: 0;
  line-height: 200%;
}
.habit__rem {
  cursor: pointer;
  color: silver;
}
.habit-rem:hover {
  color: maroon;
}

.habit__controls {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #f1f1f1;
  padding: 1em 1em 2em 1em;
  display: none;
}
.habit__controls__title {
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 1em;
  opacity: 0.87;
}
.habit__controls__button {
}

.habit__controls__button-yes,
.habit__controls__button-no,
.habit__controls__button-skip {
  background: goldenrod;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  display: inline-block;
  text-align: center;
  color: #fff;
}
.habit__controls__button-yes,
.habit_yes {
  background: green;
}
.habit__controls__button-no,
.habit_no {
  background: rgb(245, 78, 78);
}

.habit__controls__button-skip,
.habit_skip {
  background: rgb(240, 240, 240);
  color: silver;
}

.habit_yes,
.habit_no,
.habit_skip {
  color: #fff;
}

.newhabit__bottom__control {
  margin-top: 1em;
}

.newhabit__bottom__control,
.newhabit__bottom__control a {
  color: silver;
}

.newhabit__input,
.newhabit__submit {
  line-height: 200%;
  padding: 0.2em;
}
